

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.music-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
}


.player-main {
    padding: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: space-around; 
}


.sidebar {
    background-color: #1a1a1a;
    padding: 20px;
}

.sidebar-header {
    margin-bottom: 20px;
}

#song-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#song-details {
    text-align: center;
}

#song-details h1 {
    font-size: 22px;
}

#song-details h3 {
    font-size: 14px;
    color: #b3b3b3;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#progress {
    width: 100%;
}

.song-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.song-controls span#play {
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}